In [1]:
from dhvxc import flight_days


fligtht_day_list = flight_days()


len(fligtht_day_list)

125

In [3]:
import pandas as pd
from datetime import datetime
df = pd.DataFrame(fligtht_day_list,columns=['isodate'])


df['isodate'] = df.apply(lambda row: datetime.strptime(row['isodate'], '%Y-%m-%d') ,axis=1)
df['year'] = df.apply(lambda row: row['isodate'].year ,axis=1)
df = df[df['year'] >= 2019]

df.groupby(by='year').count().aggregate(['count','mean','std'])

         isodate
count   6.000000
mean   17.000000
std     3.949684